
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
<meta content="width=device-width, initial-scale=1.0, maximum-scale=11.0, " name="viewport" id="mixia_vpid">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="blue">
<meta name="format-detection" content="telephone=no">

<title>{$keywords['catename']}</title>
<meta name="keywords" content="{$keywords['keywords']}">
<meta name="description" content="{$keywords['desc']}">
<meta name="author" content="Lukas Postulka, http://www.zhuoguang.net"> 
<link rel="apple-touch-icon-precomposed" href="__PUBLIC__/imagestouch-icon.png">


	<link href="__PUBLIC__/css/index.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/css/skins.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/css/newslist.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/css/common.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/css/lxwm.css" rel="stylesheet" type="text/css">
	<script type='text/javascript' src='__PUBLIC__/js/jquery-1.8.1.min.js'></script>
<body>
	<style type="text/css">
		dl.page_tel{
			width:100%; 
			margin:auto;
		}
		dl.page_tel dt{
			padding:0px;
			margin:0px;
			width:100%;
		}
		dl.page_tel dt img{
			padding:0px;
			margin:0px;
			width:100%;
		}
		dl.page_tel dt a{
			display:block;
			width:100%;
			height:100%:
		}
	</style>
    <div class="wrap">
		<!--头部-->
		<!--<header class="g-hd clearfix">
	<a class="f-fl" name="logo" href="/"></a>
	<a class="f-fr" name="tel" href="tel:400-188-9366"></a>
</header>--> 
		{include file='commons/header'}



{$phoneRes['sjcontent']}

		
		


	{include file='commons/dongtai'}




		{include file='commons/footer'}





	 </div>
	 
	 

</body></html>
