
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
<meta content="width=device-width, initial-scale=1.0, maximum-scale=11.0, " name="viewport" id="mixia_vpid">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="blue">
<meta name="format-detection" content="telephone=no">

<title>{$keywords['catename']}</title>
<meta name="keywords" content="{$keywords['keywords']}">
<meta name="description" content="{$keywords['desc']}">
<meta name="author" content="Lukas Postulka, http://www.zhuoguang.net"> 
<link rel="apple-touch-icon-precomposed" href="http://m.zhuoguang.net/templets/wap/imagestouch-icon.png">


	<link href="http://m.zhuoguang.net/templets/wap/css/skins.css" rel="stylesheet" type="text/css">
	<link href="http://m.zhuoguang.net/templets/wap/css/common.css" rel="stylesheet" type="text/css">
	<link href="http://m.zhuoguang.net/templets/wap/css/lxwm.css" rel='stylesheet' type='text/css'>
		<!---->
		<div><img src="http://m.zhuoguang.net/templets/wap/images/lxwm_01.jpg" class="loaded"></div>
		<div class="lxwm_ul">
			<ul>
				<li><a href="tel:400-188-9366"><img src="http://m.zhuoguang.net/templets/wap/images/lxwm_02.jpg" class="loaded"></a></li>
				<li><a href="http://m.zhuoguang.net/lxwmv/#dituContent"><img src="http://m.zhuoguang.net/templets/wap/images/lxwm_03.jpg" class="loaded"></a></li>
				<li><a href="tel:02386262213"><img src="http://m.zhuoguang.net/templets/wap/images/lxwm_04.jpg" class="loaded"></a></li>
				<li><a href="mailto:zhuoguang@126.com"><img src="http://m.zhuoguang.net/templets/wap/images/lxwm_05.jpg" class="loaded"></a></li>
				<li><a href="mqqwpa://im/chat?chat_type=wpa&amp;uin=2784606&amp;version=1"><img src="http://m.zhuoguang.net/templets/wap/images/lxwm_06.jpg" class="loaded"></a></li>
				<li><a href="mqqwpa://im/chat?chat_type=wpa&amp;uin=448750844&amp;version=1"><img src="http://m.zhuoguang.net/templets/wap/images/lxwm_07.jpg" class="loaded"></a></li>
			</ul>
		</div>
		<div class="lxwm_ul"><img src="http://m.zhuoguang.net/templets/wap/images/lxwm_08.jpg" class="loaded"></div>

<div class="box" style='width:100%'>
<iframe src="__PUBLIC__/ditu/maps.html" frameborder="0" width="100%" height='300'></iframe>
</div>




	
		<div class="lxwm_bus">
			<div>附近公交站：</div>
			<p>133路、201路、209路、211路、213路、218路、219路、228路、236路、237路、239路、260路　、262路、270路、281专线、462路、464路、467路、472路、803路、860路、905线、237路、260路</p>
		</div>
		<div class="lxwm_bus">
			<div>附近轻轨站：</div>
			<p>地铁一号线小龙坎站下</p>
		</div>
		



		{include file='commons/footer'}





	 </div>
	 
	 

</body></html>

