<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
	<link rel="stylesheet" href="__PUBLIC__/css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/css/fenmian.css">
	<script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
</head>
<body>
<div class="g_body">

	<div class="nav">
		<div class="barImg">
<img src="__PUBLIC__/image/gao1.png" alt="">
		</div>
		
		<h1><a href="#">韩泰无痕双眼皮_专注韩泰无痕双眼皮技术-韩泰无痕双眼皮招生</a></h1>
	</div>
	
<div class="contentBox">


<div class="contBigBox">


	<div class="contentLeft" style='display:none;'>
		<ul>
			<li>
				<a href='#'>
<img src="__PUBLIC__/image/gao2.png" alt="">
<span>首页</span>
<img src="__PUBLIC__/image/gao3.png" alt="">
			</a>

			</li>
			<li>
				<a href='#'>
<img src="__PUBLIC__/image/gao4.png" alt="">
<span>学校概况</span>
<img src="__PUBLIC__/image/gao3.png" alt="">
			</a>

			</li>
			<li>
				<a href='#'>
<img src="__PUBLIC__/image/gao5.png" alt="">
<span>新闻资讯</span>
<img src="__PUBLIC__/image/gao3.png" alt="">
			</a>
			</li>
			<li>
				<a href='#'>
<img src="__PUBLIC__/image/gao6.png" alt="">
<span>教学视频</span>
<img src="__PUBLIC__/image/gao3.png" alt="">
			</a>
			</li>
			<li>
				<a href='#'>
<img src="__PUBLIC__/image/gao7.png" alt="">
<span>招生解答</span>
<img src="__PUBLIC__/image/gao3.png" alt="">
			</a>
			</li>
		</ul>

	</div>



<div class="contentRight">
	<div class="studioBar">
		<div class="leftStudioBar"></div>
		<h2>学校概况</h2>
		<img src="__PUBLIC__/images/AD0ImfL4BhACGAAgv-v82AUosuLh7gUw7wM4sgI!640x640.jpg" alt="">
		

		<div class="studioText">

<p class="title">韩泰无痕双眼皮</p>
<p>
人们常说，真正的美源自于内在美。但是爱美之心人皆有之，在升华内在美的同时，也不能忽视外在美的重要，那么一双美美的双眼皮就是必不可少的。但纵观国内的双眼皮技术，都必然存在着些许的缺点与不足。因此一个真正的没有任何风险的技术便应运而生
</p>

<p>
人们常说，真正的美源自于内在美。但是爱美之心人皆有之，在升华内在美的同时，也不能忽视外在美的重要，那么一双美美的双眼皮就是必不可少的。但纵观国内的双眼皮技术，都必然存在着些许的缺点与不足。因此一个真正的没有任何风险的技术便应运而生
</p>

<p>
人们常说，真正的美源自于内在美。但是爱美之心人皆有之，在升华内在美的同时，也不能忽视外在美的重要，那么一双美美的双眼皮就是必不可少的。但纵观国内的双眼皮技术，都必然存在着些许的缺点与不足。因此一个真正的没有任何风险的技术便应运而生
</p>
		</div>


	<div class="studioTop">
		<img src="__PUBLIC__/image/gao8.png" alt="">
<span>Top</span>
	</div>

<div class="footer">
<p>2018 - 韩泰无痕双眼皮　版权所有</p>
<p><a href="#">电脑版</a></p>
</div>



<div class="fixedBar">

fefafeff
</div>



	</div>
</div>






</div>


</div>

</div>






<script>
$(function(){
	
	$(".barImg").bind('click',function(){
		if($(this).hasClass("open")){
			
			$(".contentLeft").animate({width:"0px"}).hide(300);
			$(this).removeClass("open");
			// console.log(1);

		}else{
			$(".contentLeft").show(50).animate({width:"14rem"});
			
			$(".contentRight").show();
			$(this).addClass("open");
		
		}
		
	})

var aboveY=0;
var position=0;
	/*判断有没有*/
	if($(".barImg").hasClass("open")){
	
	}else{

$(".contentRight").bind("touchstart",function(e){
	e.preventDefault(); 
	 var _touch = e.originalEvent.targetTouches[0];
	 startY = _touch.pageY;
	 
})
$(".contentRight").bind("touchmove",function(e){
       e.preventDefault(); 
        var _touch = e.originalEvent.targetTouches[0];
        y=_touch.pageY-startY;
        // console.log('top的值'+$("#inner").css("top"));
      
        $(".contentRight").css("top",y+aboveY);
  		position=y+aboveY;
      
    })
$(".contentRight").bind("touchend",function(e){
     e.preventDefault(); 
        var _touch = e.originalEvent.changedTouches[0];
      aboveY=parseInt($(".contentRight").css("top"));
      
    })

console.log(position);
$(".contentRight").css("zIndex",0);
$(".nav").css("position","fixed");
$(".nav").css("zIndex",999);
	}

})


</script>
</body>
</html>