
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
<meta content="width=device-width, initial-scale=1.0, maximum-scale=11.0, " name="viewport" id="mixia_vpid">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="blue">
<meta name="format-detection" content="telephone=no">

<title>纳琦环保科技有限公司_重庆卓光科技有限公司</title>
<meta name="keywords" content="纳琦,环保科技,有限公司,如果,您还,想,了解,">
<meta name="description" content="如果您还想了解更多关键词优化排名，欢迎拨打 400-188-9366">


<link rel="apple-touch-icon-precomposed" href="__PUBLIC__/imagestouch-icon.png">
	<link href="__PUBLIC__/css/skins.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/css/common.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/css/news.css" rel="stylesheet" type="text/css">
<link id="mx_select_web" rel="stylesheet" href="data:text/css,html *,* [class],* [id]{-webkit-user-select:text;}"></head>
<body>
    <div class="wrap">
		<!--头部-->
		<!--<header class="g-hd clearfix">
	<a class="f-fl" name="logo" href="/"></a>
	<a class="f-fr" name="tel" href="tel:400-188-9366"></a>
</header>--> 
<div class="g-jz clearfix" id="logo">
	<dl style="width:100%; margin:auto;">
		<dt style="width:50%; float:left;"><a href="http://m.zhuoguang.net/"><img src="http://m.zhuoguang.net/images/xiaoh_logo.png" class="loaded"></a></dt>
		<dt style="width:50%; float:left;"><a href="tel:400-188-9366"><img src="http://m.zhuoguang.net/images/xiaoh_tel.png" class="loaded"></a></dt>
	</dl>
</div>
		<!--返回-->
		<div class="g-back">
	<a class="u-bp f-fl"></a>
	<a href="http://m.zhuoguang.net/" class="u-bh f-fr"></a>
</div>
		<!--搜索-->
		<!--<div class="g-se">
         	<span class="u-bt" ></span>	
			<input type="button" class="u-in">	
			<div class="m-ipt">	
				<input type="text" class="u-key clear_word" id="se_key" value="请输入关键词">	
			</div>	
			<div class="clear"></div>	
		</div>-->
		<!--新闻详细页-->
		<div class="g-bd">


			 <h3 class="m-btit">
			 	<a href="/">主页</a> &gt;

{if condition="input('lisId') neq ''"}
	
	{volist name='posArrart' id='vo'}
			 	 <a href="{:url('/mobile/artlist',array('artlistId'=>$vo['id']))}">{$vo['catename']}</a> &gt; 
{/volist}


{else/}



{volist name='posArrart' id='vo'}
			 	 <a href="{:url('/mobile/artlist',array('tulistId'=>$vo['id']))}">{$vo['catename']}</a> &gt; 
{/volist}


{/if}



			 	  <span></span>{$artRes['title']}</h3>


			 <div class="m-con">
			 	 <div class="u-mtit f-tc">
				 	<h1 class="s-wc">{$artRes['title']}</h1>
					<p>
						{$artRes['time']|date='Y-m-d: H:i',###}
						&nbsp;&nbsp;

				</p>
       			 </div>
				 <!--内容-->
				 <div id="content" class="m-mcon">
{$artRes['content']}


				 </div>
				 <div id="setPage" class="g-page f-tc">

{if condition="$preArt neq ''"}
				 	<p>上一篇：<a href="{:url('/mobile/article',array('lisId'=>$preArt['id']))}">{$preArt['title']|mb_substr=0,20,'utf-8'}</a> 
				 	</p>
{else/}
		<p>上一篇：没有了</p>
{/if}
					

{if condition="$nextArt neq ''"}
				 	<p>下一篇：<a href="{:url('/mobile/article',array('lisId'=>$nextArt['id']))}">{$nextArt['title']|mb_substr=0,20,'utf-8'}</a> 
				 	</p>
{else/}
		<p>下一篇：没有了</p>
{/if}



				 </div>
				 <!--分享-->
				 <div class="m-share"></div>
				 {include file='commons/redian'}



				  {include file='commons/tuijian'}
				 <!--搜索-->
				 <!--<form action="" method="get" class="search_form">
				 	 <div class="g-se">
                		<span class="u-bt" ></span>
   						<input type="button" class="u-in">
                		<div class="m-ipt"><input type="text" class="u-key clear_word" id="se_key" value="请输入关键词"></div>
                		<div class="clear"></div>
            		</div>
				 </form>-->
			 </div>
		</div>
		

  {include file='commons/footer'}


	 </div>
	 

</body></html>
