<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{$confTitle['value']}</title>
	  <meta content="{$confKey['value']}" name="Keywords">
  <meta name="description" content="{$confDesc['value']}" />
	<link rel="stylesheet" href="__PUBLIC__/css/reset.css">
	
	<script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>
	<link href="__PUBLIC__/css/video-js.css" rel="stylesheet">	
	<link rel="stylesheet" href="__PUBLIC__/css/fenmian.css">
</head>
<body>
	
	
		{include file='commons/header'}

			<div class="banner">
<img src="__PUBLIC__/images/AD0ImfL4BhACGAAg5vnTzAUo3tSl4wMwgA84kAM.jpg" alt="" style=''>
			</div>


<div class="lineupBox">
	<div class="lineupContent">








		<div class="lineupImg">
			<img src="http://tp5cms2.com/public/static/index/images/AD0
			ImfL4BhAEGAAgvvLPzAUo3IuaiwQwhgE4nAE.png" alt="">
			<p>大咖</p>
			<p>阵容</p>
			<span>COURSE</span>
			<span>SETTING</span>
		</div>

		<ul>



			<li>
				<img src="http://tp5cms2.com/public/static/index/images/ABUIABACGAAggs3p3AUo4-HEITDoATjUAg.jpg" alt="">
				<div class="lineupText">
					<h4>市场负责人</h4>
					<div class="lineupPerson">
<span>——  </span>
<b>军哥</b>
<span>  ——</span>

	<div class="lineupP">
		1.韩泰无痕双眼皮市场部负责人<br>
2.联合创始人<br>
3.80后美妆人物新秀<br>
4.线下教学总负责人<br>
	</div>
					</div>
				</div>
				
			</li>


			<li>
				<img src="http://tp5cms2.com/public/static/index/images/ABUIABACGAAgm87p3AUol7itzgEw6AE41AI.jpg" alt="">
				<div class="lineupText">
					<h4>市场负责人</h4>
					<div class="lineupPerson">
<span>——  </span>
<b>郎总</b>
<span>  ——</span>

	<div class="lineupP">
	1.韩泰无痕双眼欧市场部负责任人<br>
2.联合创始人<br>
3.网络推广总负责人
	</div>
					</div>
				</div>
				
			</li>


			<li>
				<img src="http://tp5cms2.com/public/static/index/images/ABUIABACGAAgm9Dp3AUo_KfZ7QUw6AE41AI.jpg" alt="" width="231" height="366">
				<div class="lineupText">
					<h4>团队创始人</h4>
					<div class="lineupPerson">
<span>——  </span>
<b>徐院长</b>
<span>  ——</span>

	<div class="lineupP">
	1.韩泰无痕双眼皮创始人<br>
2.CSL创美集团资深顾问<br>
3.80最具影响力创业者<br>
4.2018十佳创业青年
	</div>
					</div>
				</div>
				
			</li>



			<li>
				<img src="http://tp5cms2.com/public/static/index/images/ABUIABAEGAAgx-Lj3AUovb7p3AcwoQI4hwU!400x400.png" alt="" width="224" height="386">
				<div class="lineupText">
					<h4>揭秘</h4>
					<div class="lineupPerson">
<span>——  </span>
<b>韩泰无痕双眼皮</b>
<span>  ——</span>

	<div class="lineupP">
	化妆造型工具运用技巧、化妆基础手法运用、色彩基础、造型基础、造型手法一步步、整体造型设计理念、整体造型变化能力、概念彩妆造型设计、视觉彩妆大片创意设计、主题样片彩妆设计、炫丽彩绘技法造型配饰搭配技巧等
	</div>
					</div>







					<div class="lineupPerson">
<span>——  </span>
<b>纯教学无套路</b>
<span>  ——</span>

	<div class="lineupP">
想通过系统化的化妆造型专业学习，具备熟练的化妆和发型的动手能力。
	</div>
					</div>







				</div>
				
			</li>


		</ul>
	</div>


</div>	

<div class="gripBanner">
	<div class="gripText">
			<h4>如果美丽是一种资本，那么我们会得到更多机遇</h4>
			<h2>抓住美丽，抓住机遇</h2>
			<a href="#">了解更多</a>
	</div>
</div>

<div class="profile">
	<div class="profileContent">


		<div class="lineupImg">
			<img src="__PUBLIC__/images/AD0
			ImfL4BhAEGAAgvvLPzAUo3IuaiwQwhgE4nAE.png" alt="">
			<p>集团</p>
			<p>概况</p>
			<span>GROUP</span>
			<span>PROFILE</span>
		</div>

		<div class="profileText">
			<img src="__IMG__{$jituan['thumb']}" alt="">

			<div class="proTextRrt">


{$jituan['content']}



			</div>
		</div>

	</div>
</div>

<div class="goodness">
	<div class="goodnessText">
		<div class="goodnessBox">

<h3>韩泰无痕双眼皮</h3>
	<img src="/image/pro3.png" alt="">

<h3>大品牌优势</h3>

		</div>
	</div>

</div>


<div class="goodnessTxt">
	
	<div class="goodnessContent">


<div class="goodnessFan">
			<img src="__PUBLIC__/images/AD0ImfL4BhAEGAAgxvLPzAUoouvwxAcwzAE4zAE.png" alt="">
			<h3>01</h3>
			<span>————</span>
			<strong>品牌连锁</strong>
			<span>————</span>
			<h4>全国各地均有连锁</h4>
</div>


<div class="goodnessFan">
			<img src="__PUBLIC__/images/AD0ImfL4BhAEGAAgxvLPzAUoouvwxAcwzAE4zAE.png" alt="">
			<h3>05</h3>
			<span>————</span>
			<strong>包学会包推荐工作</strong>
			<span>————</span>
			<h4>为数不多签约央视剧组</h4>
</div>

<div class="goodnessFan">
			<img src="__PUBLIC__/images/AD0ImfL4BhAEGAAgxvLPzAUoouvwxAcwzAE4zAE.png" alt="">
			<h3>02</h3>
			<span>————</span>
			<strong>专家教学</strong>
			<span>————</span>
			<h4>聘请专家亲自授课</h4>
</div>

<div class="goodnessFan">
			<img src="__PUBLIC__/images/AD0ImfL4BhAEGAAgxvLPzAUoouvwxAcwzAE4zAE.png" alt="">
			<h3>06</h3>
			<span>————</span>
			<strong>终身免费进修</strong>
			<span>————</span>
			<h4>免费进修</h4>
</div>

<div class="goodnessFan">
			<img src="__PUBLIC__/images/AD0ImfL4BhAEGAAgxvLPzAUoouvwxAcwzAE4zAE.png" alt="">
			<h3>03</h3>
			<span>————</span>
			<strong>定期开学</strong>
			<span>————</span>
			<h4>每月定期开学</h4>
</div>


<div class="goodnessFan">
			<img src="__PUBLIC__/images/AD0ImfL4BhAEGAAgxvLPzAUoouvwxAcwzAE4zAE.png" alt="">
			<h3>07</h3>
			<span>————</span>
			<strong>扶持创业</strong>
			<span>————</span>
			<h4>为数不多签约央视剧组</h4>
</div>


<div class="goodnessFan">
			<img src="__PUBLIC__/images/AD0ImfL4BhAEGAAgxvLPzAUoouvwxAcwzAE4zAE.png" alt="">
			<h3>04</h3>
			<span>————</span>
			<strong>免费试学</strong>
			<span>————</span>
			<h4>免费试学</h4>
</div>

	</div>
</div>


<!-- 新闻中心 -->
<div class="schoolNews">
	
	<div class="schoolBox">
		<div class="lineupImg">
			<img src="__PUBLIC__/images/AD0ImfL4BhAEGAAgvvLPzAUo3IuaiwQwhgE4nAE.png" alt="">
			<p>学校</p>
			<p>新闻</p>
			<span>SCHOOL</span>
			<span>NEWS</span>
		</div>
		
<div class="schoolNav">



<div class="schoolLeft">

	<div class="leftschBar">
		<div class="barSmallTxt">
<img src="__PUBLIC__/images/AD0ImfL4BhAEGAAgr-LPzAUo9P3X9AUwPDg8.png" alt="">

学校新闻
		</div>
	</div>

	<div class="centschBox">



<img src="__IMG__/{$caozuo['thumb']}" alt="">
	<div class="newsDesc" >

<a href="#">{$caozuo['title']}</a>
<p>
{$caozuo['desc']}
</p>
	</div>

	</div>
	
</div>


<div class="schoolRight">
	<div class="rightschBar">
		<div class="barSmallTxtTwo">


<img src="__PUBLIC__/images/AD0ImfL4BhAEGAAgt-LPzAUowrjOlAIwPDg8.png" alt="">

疑难杂症
		</div>

	</div>


	
	<div class="centschBox">
<img src="__IMG__/{$xilian['thumb']}" alt="">




<div class="newsDesc" id='newsNan'>

<ul>
	{volist name='xilianduo' id='vo'}
	<li><div class="itemStep"></div>
	
<a href="{:url('/article',array('articleId'=>$vo['id']))}">{$vo['title']}</a></li>
{/volist}
</ul>



	</div>




</div>




	

</div>


</div>





	</div>
</div>




{include file='commons/footer'}
<style>
.footer{
	float:left;
	width:100%;
}
</style>

 <script src="__PUBLIC__/js/video.min.js"></script>	
		  <script type="text/javascript">
			var myPlayer = videojs('my-video');
			videojs("my-video").ready(function(){
				var myPlayer = this;
				myPlayer.play();
	
			});
		</script>

</body>
</html>