
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="baidu-site-verification" content="ntEI3B4VkD" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />



{include file='commons/header'}

 
    
    <div class="fullSlide">
        <div class="bd">
           {$articleqita11['content']}
        </div>
        <div class="hd"><ul></ul></div>
        <span class="prev"></span>
        <span class="next"></span>
        <div class="ly_m">
            <div class="wz">
               <p class="z1">填写您的信息<span>获取专业软装建议、报价</span></p>
               <p id="p11" class="z2"></p>
            </div>
            <form method="post" class="messages">
               <dl>
                    <dt class="icon_xb xb1"></dt>
                    <input type="text" placeholder="请输入您的称呼"   value="" name="chenhu" id="txtUserName">
               </dl> 
               <dl>
                   <dt class="icon_xb xb2"></dt>
                   <input type="text" placeholder="请输入您的手机号"  value="" name="shouji" id="txtUserTel">
               </dl>
               <dl>
                   <dt class="icon_xb xb3"></dt>
                   <input type="text" placeholder="请输入您的房屋面积"  value="" name="mianji" id="txtTitle">
               </dl>
               <p>
                   <input type="radio" name="fang" value="1" checked><span class="radioSpan">新房</span>
                   <input type="radio" name="fang" value="0"><span class="radioSpan">旧房</span>
               </p>
               <div class="btn"><input id="btnSubmit" type="submit" title="" value="立即报名"></div>
            </form>
            

        </div>
    </div>
    <!-- /banner 结束--> 
      
    <div class="search t">
        <div class="main clearfix">
            <div class="zi"><b>热门关键词搜索：</b>
                <h1><a href="/">成都软装设计</a></h1>、<a href="/">精装房软装</a>、<a href="/">软装家具</a>、<a href="/">软装设计公司</a>、<a href="/">别墅软装定制</a>
                、<a href="/">样板间软装</a>、<a href="/">豪宅家居定制专家</a>
            </div>   
            <div class="search1"><input type="text" class="inp01" onfocus="this.value=''" id="keywords" name="keywords" value="请输入您的关键词" placeholder="" onkeydown="if(event.keyCode==13){SiteSearch('/search.html', '#keywords');return false};"x-webkit-speech=""/><input type="button" title="搜索" value="搜索" class="inpso" onclick="SiteSearch('/search.html', '#keywords');" /></div>
        </div>
    </div>
    <!-- / 搜索 结束 ----->
    
    <div class="m1_m">
        <div class="sy_xnav">
            <h6>ADVANTAGE</h6>
            <p>用设计诠释生活美学</p>
        </div>
        <dl class="main clearfix">
            <dt>
                <div class="wz">
                   <div class="z1">10年专注<span>高端软装设计</span></div>
                   <div class="z2">Focus on high-end soft design for a decade</div>
                   <div class="z3">中国建筑装饰协会认证单位</div>
                </div>
            </dt>
            <dd><i class="icon_xb xb1"></i><p class="z1">汇聚成都高端楼盘</p><p class="z2">样板间现场参观</p></dd>
            <dd class="t"><i class="icon_xb xb2"></i><p class="z1">强大的供应链实力</p><p class="z2">比业主购买更省钱</p></dd>
            <dd class="t"><i class="icon_xb xb3"></i><p class="z1">30人+高级软装设计师</p><p class="z2">平均从业经验7年以上</p></dd>
            <dd><i class="icon_xb xb4"></i><p class="z1">专业项目管理分工明确</p><p class="z2">每一个环节做到客户满意</p></dd>
        </dl>
    </div>
    <!-- / m1_m 结束 ----->
    <div class="m2_m container">
        <div class="sy_xnav">
            <h6>CASE SHOW</h6>
            <p>项目案例展示</p>
        </div>
        <div class="slideTxtBox">
      <div class="hd">
        <ul>

    {volist name='showtwo' id='vo'}
            <li><a href="{:url('/rzal',array('navcateId'=>42))}?page=1&leixin={$vo}">{$vo}</a></li>
   {/volist}




        </ul>
                <div class="z1"><span class="counter">500</span>家实景项目案例供您参考</div>  
      </div>
      <div class="bd">


        <ul>
            {volist name='bsRes' id='vo'}
                     <li> 
                        <div class="tu">
                            <a href="{:url('/artrzal',array('anliimgId'=>$vo['id']))}">
                                <img src="{volist name='$vo.arttusrc' id='src' offset='0' length='1'}__IMG__/admin/arttupian/ben/{$src['imgsrc']}{/volist}" alt="{$vo['title']}" />
                                <div class="up-graybox">
                                    <span class="bgbox"></span>
                                    <div class="stit">
                                        <span class="line linet"></span>
                                        查看更多
                                        <span class="line lineb"></span>
                                    </div>
                                    <span class="out-ico"></span>
                                </div>
                            </a>
                        </div>
                        <dl class="tit">
                            <dt><p>{$vo['title']}</p><a rel="nofollow" target="_blank" href="{:url('/artrzal',array('anliimgId'=>$vo['id']))}">预约设计</a></dt>
                            <dd>{$vo['desc']}</dd>
                        </dl>    
                    </li>
        {/volist}
    
        </ul>

            

















     <ul style='display:none;'>
            {volist name='jzRes' id='vo'}
                     <li> 
                        <div class="tu">
                            <a href="{:url('/artrzal',array('anliimgId'=>$vo['id']))}">
                                <img src="{volist name='$vo.arttusrc' id='src' offset='0' length='1'}__IMG__/admin/arttupian/ben/{$src['imgsrc']}{/volist}" alt="{$vo['title']}" />
                                <div class="up-graybox">
                                    <span class="bgbox"></span>
                                    <div class="stit">
                                        <span class="line linet"></span>
                                        查看更多
                                        <span class="line lineb"></span>
                                    </div>
                                    <span class="out-ico"></span>
                                </div>
                            </a>
                        </div>
                        <dl class="tit">
                            <dt><p>{$vo['title']}</p><a rel="nofollow" target="_blank" href="{:url('/artrzal',array('anliimgId'=>$vo['id']))}">预约设计</a></dt>
                            <dd>{$vo['desc']}</dd>
                        </dl>    
                    </li>
        {/volist}
                    
    
        </ul>












         <ul style='display:none;'>
                {volist name='syRes' id='vo'}
                     <li> 
                        <div class="tu">
                            <a href="{:url('/artrzal',array('anliimgId'=>$vo['id']))}">
                                <img src="{volist name='$vo.arttusrc' id='src' offset='0' length='1'}__IMG__/admin/arttupian/ben/{$src['imgsrc']}{/volist}" alt="{$vo['title']}" />
                                <div class="up-graybox">
                                    <span class="bgbox"></span>
                                    <div class="stit">
                                        <span class="line linet"></span>
                                        查看更多
                                        <span class="line lineb"></span>
                                    </div>
                                    <span class="out-ico"></span>
                                </div>
                            </a>
                        </div>
                        <dl class="tit">
                            <dt><p>{$vo['title']}</p><a rel="nofollow" target="_blank" href="{:url('/artrzal',array('anliimgId'=>$vo['id']))}">预约设计</a></dt>
                            <dd>{$vo['desc']}</dd>
                        </dl>    
                    </li>
        {/volist}
                    
    
        </ul>














      </div>
    </div>
        <div class="tt_m">
            <dl><a rel="nofollow" target="_blank" href="http://p.qiao.baidu.com/cps/chat?siteId=11966384&userId=25482596"><dt>预约设计</dt><dd><i class="icon_xb"></i></dd></a></dl>
            <p><span>预订热线：</span>{$boxconf17['value']}</p>
        </div>
    </div>
<style>
.pageBtn{
    height:150px;
}
</style>
    <!-- / m2_m 结束 ----->
    <div class="m3_m">
        <div class="sy_xnav">
            <h6>DESIGNER</h6>
            <p>专业设计团队</p>
        </div>
        <div class="scrollBox">
      <div class="ohbox">
                <ul class="piclist">
                    
                {volist name='sjManRes' id='vo'}
                    <li>
                        <a href="{:url('/artsjtd',array('tuanartId'=>$vo['id']))}">
                           <img src="/{$vo['thumb']}" alt="{$vo['author']}" title="{$vo['author']}" />
                           <p class="z1">{$vo['author']}</p>
                           <p class="z2">{$vo['title']}</p>
                        </a>
                    </li>
                {/volist}
            
                    
                </ul>
      </div>
      <div class="pageBtn">
        <span class="prev"></span>
        <span class="next"></span>
        <ul class="list"><li></li><li></li><li></li><li></li></ul>
      </div>
      </div>
      <div class="tt_m">
            <dl><a rel="nofollow" target="_blank" href="#"><dt>预约设计</dt><dd><i class="icon_xb"></i></dd></a></dl>
            <p><span>预订热线：</span>400-181-2010</p>
        </div>
    </div>
    <!-- / m3_m 结束 ----->
    
    <div class="yban" style="background: url(__PUBLIC__/images/201712011042431554.jpg) center no-repeat;">
        <div class="main">
            <div class="wz">
                <h6>个性化私人订制设计</h6>
                <p class="z1">让家变得更美好！</p>
                <p class="z2">Personalized private custom design<br />make home better!</p>
                <div class="z3">
                   <a rel="nofollow" target="_blank" href="#">立即预订</a>
                   <p><span>预订热线</span>400-181-2010</p>
                </div>
            </div>
        </div>
    </div>
     
    <!-- / yban 结束 -----> 
    <div class="m4_m" id="liucheng">
        <div class="sy_xnav">
            <h6>PROCESS</h6>
            <p>服务流程</p>
        </div>
        <div class="main clearfix">
            <dl>
                <dt>
                    <img src="__PUBLIC__/images/lc_tu1.jpg" />
                    <div class="up-graybox">
                        <span class="bgbox"></span>
                        <div class="stit">
                            <span class="line linet"></span>
                            step1：前期沟通
                            <span class="line lineb"></span>
                        </div>
                        <span class="out-ico"></span>
                    </div>
                </dt>
                <dd>
                    <p class="z1">step1：前期沟通</p>
                    <p class="z2">沟通客户需求</p>
                    <p class="z2">收取项目定金</p>
                    <p class="z2">首次空间测量</p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="__PUBLIC__/images/lc_tu2.jpg" />
                    <div class="up-graybox">
                        <span class="bgbox"></span>
                        <div class="stit">
                            <span class="line linet"></span>
                            step2：方案确定
                            <span class="line lineb"></span>
                        </div>
                        <span class="out-ico"></span>
                    </div>
                </dt>
                <dd>
                    <p class="z1">step2：方案确定</p>
                    <p class="z2">初步方案沟通</p>
                    <p class="z2">方案修改调整</p>
                    <p class="z2">确定深化方案</p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="__PUBLIC__/images/lc_tu3.jpg" />
                    <div class="up-graybox">
                        <span class="bgbox"></span>
                        <div class="stit">
                            <span class="line linet"></span>
                            step3：采购下单
                            <span class="line lineb"></span>
                        </div>
                        <span class="out-ico"></span>
                    </div>
                </dt>
                <dd>
                    <p class="z1">step3：采购下单</p>
                    <p class="z2">确定报价清单</p>
                    <p class="z2">签订软装采购合同</p>
                    <p class="z2">采购产品进度跟进</p>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="__PUBLIC__/images/lc_tu4.jpg" />
                    <div class="up-graybox">
                        <span class="bgbox"></span>
                        <div class="stit">
                            <span class="line linet"></span>
                            step4：验收售后
                            <span class="line lineb"></span>
                        </div>
                        <span class="out-ico"></span>
                    </div>
                </dt>
                <dd>
                    <p class="z1">step4：验收售后</p>
                    <p class="z2">安装、摆场、陈设</p>
                    <p class="z2">客户现场验收</p>
                    <p class="z2">终身售后服务</p>
                </dd>
            </dl>
        </div>
    </div>
    <!-- / m4_m 结束 ----->
    <div class="m5_m">
        <div class="sy_xnav">
            <h6>APPRAISE</h6>
            <p>客户口碑</p>
        </div>
        <div class="main clearfix">
            <div class="multipleColumn">
                <p class="xnav"><i class="icon_xb"></i><a href="/khkb/4.html">完工客户满意度评价</a></p>
                <div class="bd">
                    <div class="ulWrap">
                  
                        <ul><!-- 把每次滚动的n个li放到1个ul里面 -->
                 {volist name='kbManRes' id='vo' offset='0' length='6'}   
                            <li>
                                <div class="pic"><a href="{:url('/artkhkb',array('kbeiartId'=>$vo['id']))}" target="_blank"><img src="/{$vo['thumb']}" alt="{$vo['title']}" title="{$vo['title']}" /></a></div>
                                <p class="z1">{$vo['title']}</p>
                                <p class="z2">{$vo['desc']}</p>
                            </li>
                {/volist}
                    
                        </ul>
                        
                        <ul><!-- 把每次滚动的n个li放到1个ul里面 -->
                {volist name='kbManRes' id='vo' offset='6' length='6'}   
                            <li>
                                <div class="pic"><a href="{:url('/artkhkb',array('kbeiartId'=>$vo['id']))}" target="_blank"><img src="/{$vo['thumb']}" alt="{$vo['title']}" title="{$vo['title']}" /></a></div>
                                <p class="z1">{$vo['title']}</p>
                                <p class="z2">{$vo['desc']}</p>
                            </li>
                {/volist}
                        </ul>
                        
                        <ul><!-- 把每次滚动的n个li放到1个ul里面 -->
                {volist name='kbManRes' id='vo' offset='12' length='6'}   
                            <li>
                                <div class="pic"><a href="{:url('/artkhkb',array('kbeiartId'=>$vo['id']))}" target="_blank"><img src="/{$vo['thumb']}" alt="{$vo['title']}" title="{$vo['title']}" /></a></div>
                                <p class="z1">{$vo['title']}</p>
                                <p class="z2">{$vo['desc']}</p>
                            </li>
                {/volist}
                
                            
    
                    </div><!-- ulWrap End -->
                </div><!-- bd End -->
                <div class="hd">
                    <a class="prev">< 上一页</a>
                    <ul><li></li><li></li><li></li><li></li></ul>
                    <a class="next">下一页 > </a>
                </div>
            </div><!-- multipleColumn End -->
            <div class="picScroll-left"> 
                <p class="xnav"><i class="icon_xb"></i><a target="_blank" href="http://p.qiao.baidu.com/cps/chat?siteId=11966384&userId=25482596">项目微信群实录</a></p>
                <div class="bd">
                    <ul class="picList">
                        {volist name='sltuManRes' id='vo'}
                        {volist name='vo.arttusrc' id='tu'}
                         <li><a><img src="/static/admin/arttupian/ben/{$tu['imgsrc']}" alt="微信截图"  /></a></li>
                        {/volist}
                        {/volist}

<!-- title="口碑" ---->
                          
                        
                    </ul>
                </div>
                <div class="hd">
                   <a class="prev">< 上一页</a>
                    <ul></ul>
                    <a class="next">下一页 > </a>
                </div>
            </div><!-- picScroll-left End -->
        </div>
        <div class="tt_m">
            <dl><a rel="nofollow" target="_blank" href="#"><dt>预约设计</dt><dd><i class="icon_xb"></i></dd></a></dl>
            <p><span>预订热线：</span>400-181-2010</p>
        </div>
    </div>
    <!-- / m5_m 结束 ----->
    <div class="m6_m">
        <div class="sy_xnav">
            <h6>PRODUCT</h6>
            <p>产品全球直采/同等配置价格更低/同等价格配置更高</p>
        </div>
        <dl class="wz1">
            <dl><dt><span class="counter">280</span>+</dt><dd>全球知名家居品牌</dd></dl>
            <dl><dt><span class="counter">200,000</span>+</dt><dd>甄选高品质软装产品</dd></dl>
            <dl><dt><span class="counter">10</span>+<dd>家居风格类型</dd></dl>
        </dl>
        <div class="tp"><img src="__PUBLIC__/images/dt_tu1.jpg" /></div>
        <div class="picMarquee-left">
      <div class="hd">
        <a class="next"></a>
        <a class="prev"></a>
      </div>
      <div class="bd">
        <ul class="picList">
          <li><a href=""><img src="__PUBLIC__/images/a1.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a2.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a3.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a4.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a5.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a6.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a7.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a8.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a9.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a10.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a11.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a12.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a13.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a14.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a15.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a16.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a17.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a18.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a19.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a20.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a21.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a22.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a23.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a24.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a25.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a26.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a27.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a28.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a29.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a30.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a31.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a32.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a33.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a34.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a35.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a36.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a37.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a38.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a39.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a40.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a41.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a42.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a43.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a44.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a45.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a46.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a47.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a48.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a49.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a50.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a51.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a52.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a53.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a54.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a55.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a56.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a57.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a58.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a59.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a60.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a61.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a62.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a63.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a64.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a65.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a66.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a67.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a68.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a69.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a70.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a71.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a72.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a73.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a74.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a75.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a76.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a77.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a78.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a79.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a80.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a81.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a82.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a83.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a84.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a85.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a86.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a87.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a88.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a89.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a90.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a91.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a92.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a93.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a94.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a95.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a96.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a97.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a98.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a99.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a100.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a101.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a102.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a103.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a104.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a105.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a106.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a107.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a108.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a109.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a110.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a111.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a112.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a113.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a114.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a115.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a116.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a117.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a118.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a119.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a120.png" alt="" title=""></a></li>
                  <li><a href=""><img src="__PUBLIC__/images/a121.png" alt="" title=""></a></li>
        </ul>
      </div>
    </div>
    </div>
    <!-- / m6_m 结束 ----->
    <div class="m7_m">
        <div class="sy_xnav">
            <h6>STORES</h6>
            <p>线下体验馆<br />环球中心5000㎡ </p>
        </div>
        <div class="main clearfix">
            <div class="tu"><img src="__PUBLIC__/images/about_tu1.jpg" /></div>
            <div class="wz">
                <h6>{$gyFenmian['catename']}<span> / {$gyFenmian['enname']}</span></h6>
                <p>{$gyFenmian['desc']}</p>
                <a rel="nofollow" class="ms" href="{:url('/gywm',array('navcateId'=>$gyFenmian['id']))}#f2">查看详情</a>
            </div>
        </div>
    </div>
    <!-- / m7_m 结束 ----->
    <div class="m8_m">
        <div class="sy_xnav">
            <h6>NEWS & STRATEGY</h6>
            <p>全方位媒体报道</p>
        </div>
        <div class="main clearfix">
            <div class="m8_l">
                <div class="xnav"><a href="{:url('/rzgl',array('navcateId'=>46))}">新闻中心<span>NEWS CENTER</span><em></em></a></div>
                <dl>
                    {volist name='sglManRes' id='vo' offset='0' length='1'}
                    <dt><a href="{:url('/artrzgl',array('gongartId'=>$vo['id']))}"><img src="{$vo['thumb']}" alt="{$vo['title']}" title="{$vo['title']}" /></a>
                    </dt>

                    <dd><a title="{$vo['title']}" href="{:url('/artrzgl',array('gongartId'=>$vo['id']))}">{$vo['title']}</a></dd>

                    <p>{$vo['desc']}<a rel="nofollow" href="{:url('/artrzgl',array('gongartId'=>$vo['id']))}">【了解详情】</a></p>
                    {/volist}
                </dl>
                <ul>
                    
            {volist name='sglManRes' id='vo' offset='1' length='4'}
                    <li><a title="{$vo['title']}" href="{:url('/artrzgl',array('gongartId'=>$vo['id']))}">{$vo['title']}</a><span>{$vo['time'|date='Y-m-d H:i',###]}</span></li>
            {/volist}
                    
                </ul>
            </div><!-- / m8_l 结束 ----->
            <div class="m8_r">
                <div class="xnav"><a href="{:url('/rzgl',array('navcateId'=>$glFenmian['id']))}">{$glFenmian['catename']}<span>strategy</span><em></em></a></div>
                
            {volist name='rzgManRes' id='vo' offset='0' length='2'}
                <dl>
                    <dt><a href="{:url('/artrzgl',array('gongartId'=>$vo['id']))}"><img src="/{$vo['thumb']}" alt="" title="" /></a></dt>
                    <dd>
                        <p class="z1"><a title="{$vo['title']}" href="{:url('/artrzgl',array('gongartId'=>$vo['id']))}">{$vo['title']}</a></p>
                        <p class="z2">{$vo['desc']}<a rel="nofollow" href="{:url('/artrzgl',array('gongartId'=>$vo['id']))}">【了解详情】</a></p>
                    </dd>
                </dl>
            {/volist}
        
                
                <div class="x"></div>
                <ul>
                {volist name='rzgManRes' id='vo' offset='2' length='14'}
                    <li><a title="{$vo['title']}" href="{:url('/artrzgl',array('gongartId'=>$vo['id']))}">{$vo['title']}</a></li>
                    
               {/volist}
                    
                </ul>
            </div><!-- / m8_l 结束 ----->
        </div>
    </div>
    <!-- / m8_m 结束 ----->










{include file='commons/footer'}

<script>
$(function(){
    $(".hd li").bind('mouseover',function(){
        $the=$(this).index();
        console.log($the);
        $(".bd ul").eq($the+1).show().siblings().hide();
        $(this).addClass('on').siblings().removeClass('on');
        console.log('yes');
    })
})
</script>
</body>
</html>