<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>经典案例_重庆卓光科技有限公司</title><!--兼容-->
<meta http-equiv="X-UA-Compatible" content="IE=8">
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<meta http-equiv="mobile-agent" content="format=xhtml;url=/m/list.php?tid=6">
<link href="__PUBLIC__/css/case.css" rel="stylesheet" media="screen" type="text/css"/>
</head>
<body>
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/jquery-1.8.1.min.js"></script>
{include file='commons/header'}










<div class="clear">
</div>


{include file='commons/position'}


<div class="clear">
</div>
<div class="case_all">






	<div class="main_con">
		<div class="case_one">
			<div class="h50">
			</div>
			<div class="case_one_title">
				<div class="case_one_title1">
					{$artRes['title']}
				</div>
			</div>
			<div class="clear">
			</div>
			<div class="case_one_div">

	{$artRes['content']}







<div class="h25"></div>
<div class="arc_page">
					<div class="page_next">
			{if condition="empty($preArt)"}
 上一篇:没有了
			{else/}
上一篇：<a href="{:url('/article',array('lisid'=>$preArt['id']))}">{$preArt['title']}</a>
			{/if}
						
					
					</div>
					<div class="page_next">

	{if condition="empty($nextArt)"}
 下一篇:没有了
			{else/}
下一篇：<a href="{:url('/article',array('lisid'=>$nextArt['id']))}">{$nextArt['title']}</a>
			{/if}

				</div>  
				</div>


				<div class="h25"></div>




			</div>






		</div>
		<div class="h45">
		</div>
	</div>
















</div>
<div class="clear">
</div>







{include file='commons/footerBar'}



	﻿
<div class="clear">
</div>




{include file='commons/footer'}
</body>
</html>