<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__PUBLIC__/css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/css/fenmian.css">
	<script type='text/javascript' src='__PUBLIC__/js/jquery-2.1.1.min.js'></script>

	<link href="__PUBLIC__/css/video-js.css" rel="stylesheet">
</head>
<body>
	
	
		{include file='commons/header'}

			<div class="banner">
<img src="__PUBLIC__/images/AD0ImfL4BhACGAAg5vnTzAUo3tSl4wMwgA84kAM.jpg" alt="" style=''>
			</div>


			


<div class="bottommain">
		

<div class="NewsLeft">

<div class="Newsarclist">
	<h3 class="bzzxwz">本站最新文章</h3>
{volist name='artNews' id='vo'}
	<a target="_blank" href="{:url('/article',array('articleId'=>$vo['id']))}">{$vo['title']|mb_substr=0,10,'utf-8'}...</a>
{/volist}
</div>
<div class="Newsarclist">
	<h3 class="bzzxwz">本站最新文章</h3>
{volist name='artHot' id='vo'}
	<a target="_blank" href="{:url('/article',array('articleId'=>$vo['id']))}">{$vo['title']|mb_substr=0,10,'utf-8'}...</a>
{/volist}
</div>

</div>






<div class="article">
	<div class="leftvideBar">
		新闻详情
	</div>
	<div class="artContent">

		<div class="title">
				{$artRes['title']}
		</div>
		<div class="content">






	<video id="my-video" class="video-js vjs-big-play-centered" controls preload="auto" width="800" height="400"
		  poster="__IMG__/{$artRes['thumb']}" data-setup="{}">
			<source src="{$artRes['juedui']}" type="video/mp4">
			<source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
			<source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
			<p class="vjs-no-js">
			  To view this video please enable JavaScript, and consider upgrading to a web browser that
			  <a href="#" target="_blank">supports HTML5 video</a>
			</p>
		  </video>






		</div>
	
		<div class="middlePanel">
			<div class="panelLeft">
				<div class="prev">

{if condition="$artprev['id']"}
上一页 <a href='{:url("/article",array('articleId'=>$artprev['id']))}'>{$artprev['title']}</a>
{else/}
没有了
{/if}
				</div>
				<div class="next">

{if condition="$artnext['id']"}
下一页 <a href='{:url("/article",array('articleId'=>$artnext['id']))}'>{$artnext['title']}</a>
{else/}
没有了
{/if}

				</div>
			

			</div>
			<div class="panelRight">
			文章分类： <a href="#">{$artRes['catename']}</a>
		   </div>
		</div>

	</div>

</div>









				

</div>


{include file='commons/footer'}
<style>
.footer{
	float:left;
	width:100%;
}
</style>


 <script src="__PUBLIC__/js/video.min.js"></script>	
		  <script type="text/javascript">
			var myPlayer = videojs('my-video');
			videojs("my-video").ready(function(){
				var myPlayer = this;
				myPlayer.play();
	
			});
		</script>


</body>
</html>