
<div class="floor floor09">
<div class="main_con">
	<div class="f9_fl_c fl">
		<div class="h45">
		</div>
		<div class="f9_fl_more">
			<div class="f9_fl_fwfw f9_fl_0">
				<div class="f9_fl_title">
					<span class="cn">服务范围</span>
					<span class="en">Service</span>
				</div>
				<div class="f9_fl_ul">
					<ul class="ul_fl">
						<li><a href="/yxxwz/fenmianId/3" title="营销型网站">营销型网站</a></li>
						<li><a href="/yxxwz/fenmianId/7" title="手机网站">手机网站</a></li>
				
					</ul>
				</div>
			</div>
			<div class="f9_fl_fwfw f9_fl_0">
				<div class="f9_fl_title">
					<span class="cn">经典案例</span>
					<span class="en">Classic case</span>
				</div>
				<div class="f9_fl_ul">
					<ul class="ul_fl">
						<li><a href="/jdal/tulistId/25" title="营销型网站">营销型网站</a></li>
						<li><a href="/jdal/tulistId/8" title="网站优化排名">网站优化排名</a></li>
						<li><a href="/jdal/tulistId/16" title="手机网站">手机网站</a></li>
					
					</ul>
				</div>
			</div>
			<div class="f9_fl_fwfw f9_fl_0">
				<div class="f9_fl_title">
					<span class="cn">新闻资讯</span>
					<span class="en">Information</span>
				</div>
				<div class="f9_fl_ul">
					<ul class="ul_fl">
						<li><a href="/xwzx/artlistId/27" title="行业动态">行业动态</a></li>
						<li><a href="/xwzx/artlistId/28" title="营销干货">营销干货</a></li>
						<li><a href="/xwzx/artlistId/29" title="移动互联网">移动互联网</a></li>
						<li><a href="/xwzx/artlistId/30" title="公司动态">公司动态</a></li>
					</ul>
				</div>
			</div>
			<div class="f9_fl_fwfw f9_fl_0">
				<div class="f9_fl_title">
					<span class="cn">关于我们</span>
					<span class="en">About us</span>
				</div>
				<div class="f9_fl_ul">
					<ul class="ul_fl">
						<li><a href="/gywm/fenmiansId/32" title="关于我们">关于我们</a></li>
						<li><a href="/lxwm/fenmiansId/33" title="联系我们">联系我们</a></li>
						<li><a href="/zzry/fenmiansId/34" title="资质荣誉">资质荣誉</a></li>
						<li><a href="/hkfs/fenmiansId/35" title="汇款方式">汇款方式</a></li>
					</ul>
				</div>
			</div>
			<div class="W_ctc fl">
				<h2 class="title">您可以在线咨询...</h2>
				<dl class="qqlist">
					<dd>
					<a target="_blank" title="业务顾问" href="http://wpa.qq.com/msgrd?v=3&uin={$confQq['value']}&site=qq&menu=yes"><span><i class="qq"></i></span></a>
					<a target="_blank" title="售后顾问" href="http://wpa.qq.com/msgrd?v=3&uin={$confQq['value']}&site=qq&menu=yes"><span><i class="qq"></i></span></a>
					<a target="_blank" title="技术顾问" href="http://wpa.qq.com/msgrd?v=3&uin={$confQq['value']}&site=qq&menu=yes"><span><i class="qq"></i></span></a>
					</dd>
				</dl>
<style>
.f9_fl_more .W_ctc .title {
    width: 180px;
    padding-left: 14px;
    margin-top: -20px;
   }
</style>
				<span class="tel2"><a title="咨询电话{$confDh['value']}" href="tel:{$confDh['value']}">{$confDh['value']}</a></span>
				<p class="tel">
					<i class="icon"></i>{$confDh['value']}
				</p>
				<p class="email">
					<i class="icon"></i>{$confYx['value']}
				</p>
				<p class="address">
					<i class="icon"></i>{$confDz['value']}
				</p>
			</div>
		</div>
	</div>
	<div class="f9_fl_weix fl">
		<div class="h45">
		</div>
		<div class="f9_weixin">
			{$artqitama['content']}
		</div>
	</div>
</div>
</div>



<div class="clear">
</div>
<div class="floor floor10" style="height:auto;">
<div class="main_con">
	<div class="h16">
	</div>
	{$artqitabeian['content']}
	<center style="height:100px;">
	<iframe style="display:block;height:auto;" frameborder="0" height="90" width="90" allowtransparency="true" scrolling="no" src="http://www.cqgseb.cn/ztgsgl/WebMonitor/GUILayer/eImgMana/gshdimg.aspx?sfdm=120101104152157198464">
	</iframe>
	</center>
	<div class="h25">
	</div>
</div>
</div>


<!-- 代码 开始 -->
<div id="rightArrow">
<a href="javascript:;" title="在线客户"></a>
</div>
<div id="floatDivBoxs">
<div class="floatDtt">
	在线客服
</div>
<div class="floatShadow">
	<ul class="floatDqq">
		<li style="padding-left:0px;"><a target="_blank" href="tencent://message/?uin={$confQq['value']}&Site=www.zhuoguang.net&Menu=yes"><img src="__PUBLIC__/images/qq_xh.png" align="absmiddle">  业务顾问</a></li>
		<li style="padding-left:0px;"><a target="_blank" href="tencent://message/?uin={$confQq['value']}&Site=www.zhuoguang.net&Menu=yes"><img src="__PUBLIC__/images/qq_xh.png" align="absmiddle">  技术顾问</a></li>
	</ul>
	{$getlianxi['content']}


</div>
<div class="floatDbg">
</div>
</div>
<script type="text/javascript">
var xh_flag=1;
$('#rightArrow').click(function(){
	if(xh_flag==1){
		$("#floatDivBoxs").animate({right: '-155px'},300);
		$(this).animate({right: '-5px'},300);
		$(this).css('background-position','-50px 0');
		xh_flag=0;
	}else{
		$("#floatDivBoxs").animate({right: '0'},300);
		$(this).animate({right: '150px'},300);
		$(this).css('background-position','0px 0');
		xh_flag=1;
	}
});
</script>
<!-- /footer -->
<script type="text/javascript" language="javascript" src="__PUBLIC__/js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" language="javascript">
	$(".tels_f5_02").slide({ mainCell:".case_more_list", effect:"left",vis:4, pnLoop:false, scroll:4, autoPage:true,autoPlay:true});
	</script>