<title>{$boxconf5['value']}</title>
<meta name="keywords" content="{$boxconf4['value']}"/>
<meta name="description" content="{$boxconf3['value']}"/>
<link href="__PUBLIC__/css/Index.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Common.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/jquery.ad-gallery.css"/>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/common.js"></script>
</head>
<body>
<div class="top_m">
  <div class="dingbu clearfix">
    <p>
      您好，欢迎访问{$boxconf18['value']}官方网站！
    </p>
    <ul>
      <li id="moquu_wxin" class="moquu_wxin">
      <a rel="nofollow" href="javascript:void(0)" looyu_bound="1"><img class="t" src="__PUBLIC__/images/top_tb1.png"/>关注微信
      <div class="moquu_wxinh">


        <div class="z">
         {$articleqita7['content']}
        </div>



      </div>
      </a>
      </li>
      <li><a><img class="t" src="__PUBLIC__/images/top_tb2.png"/>{$boxconf17['value']}</a></li>
      <li><a href="#"><img class="t" src="__PUBLIC__/images/top_tb3.png"/>网站地图</a></li>
    </ul>
  </div>
</div>
<!-- / top_m 结束 -->

<div class="header">
  <div class="main clearfix">
    <div class="logo">
     {$articleqita1['content']}
    </div>
    <div class="zi">
     {$articleqita5['content']}
    </div>
    <ul class="nav_sy">
      <li><a rel="nofollow" href="/">首页</a><i></i></li>

      {volist name='getNav' id='vo'}
      <li><a href="/{if $vo['id'] eq 42}rzal{elseif $vo['id'] eq 39/}sjtd{elseif $vo['id'] eq 5/}#liucheng{elseif $vo['id'] eq 41/}khkb{elseif $vo['id'] eq 44/}rzgl{elseif $vo['id'] eq 7/}gywm{elseif $vo['id'] eq 45/}hdzq{/if}/navcateId/{if $vo['id'] eq 42}{$vo['id']}?page=1{elseif $vo['id'] eq 5/}{else/}{$vo['id']}{/if}">{$vo['catename']}</a><i></i></li>
      {/volist}
    </ul>
  </div>
</div>

<!-- / 导航 结束 --->