
<div class="search">
        <div class="main clearfix">
           <p>您的位置：<a href="/">首页</a>&nbsp;&gt;&nbsp;
{volist name='getPos' id='vo'}
	<a href="/{if $vo['id'] eq 42}rzal{elseif $vo['id'] eq 39/}sjtd{elseif $vo['id'] eq 5/}fwlc{elseif $vo['id'] eq 41/}khkb{elseif $vo['id'] eq 44/}rzgl{elseif $vo['id'] eq 46/}rzgl{elseif $vo['id'] eq 47/}rzgl{elseif $vo['id'] eq 48/}rzgl{elseif $vo['id'] eq 49/}rzgl{elseif $vo['id'] eq 50/}rzgl{elseif $vo['id'] eq 7/}gywm{elseif $vo['id'] eq 45/}hdzq{/if}/navcateId/{$vo['id']}">{$vo['catename']}</a> >
{/volist}
           </p>   
           <div class="search1"><input type="text" class="inp01" onfocus="this.value=''" id="keyword" name="keyword" value="请输入您的关键词" placeholder="" onkeydown="if(event.keyCode==13){SiteSearch('/search/quanzhan', '#keyword');return false};" x-webkit-speech=""><input type="button" title="搜索" value="搜索" class="inpso" onclick="SiteSearch('/search/quanzhan', '#keyword');"></div>
        </div>
    </div>