
		<!--卓光科技动态-->
		<div class="g-anli j-slide-not">
			<ul class="m-cnt m-cnt1 clearfix" id='xinwen'>  
				<li class="z-on">新资讯</li>     
				<li>常见问题</li>
			</ul>
		</div>
		<div class="g-news j-slide-not" style="margin:0;">
			<span></span>
			<div class="m-box">
				<div class="con con0" style="display:block;">
					
					<ul>
						{volist name='redian' id='vo'}
						<a href="{:url('/mobile/article',array('lisId'=>$vo['id']))}" title="{$vo['title']|mb_substr=0,20,'utf-8'}">
							<li>{$vo['title']|mb_substr=0,20,'utf-8'}</li></a>
						{/volist}


					</ul>
				</div>
				<div class="con con1" style="display:none;">
					<ul>

						{volist name='tuijian' id='vo'}
						<a href="{:url('/mobile/article',array('lisId'=>$vo['id']))}" title="{$vo['title']|mb_substr=0,20,'utf-8'}"><li>{$vo['title']|mb_substr=0,20,'utf-8'}</li></a>
	{/volist}


					</ul>
				</div>
			</div>
		</div>