<div class="fixedBar">

<ul>
	<li><a href="#">
<div class="imgfixed">

		<img src="__PUBLIC__/image/gao9.png" alt="">
</div>

		<span>招商电话</span></a></li>
	<li><a href="#">
<div class="imgfixed">
		<img src="__PUBLIC__/image/gao10.png" alt="">
</div>
		<span>信息咨询</span></a></li>
	<li><a href="#">
<div class="imgfixed">
		<img src="__PUBLIC__/image/gao11.png" alt="">
</div>
		<span>在线留言</span></a></li>
	<li><a href="#">
<div class="imgfixed">
		<img src="__PUBLIC__/image/gao12.png" alt="">
</div>
		<span>分享</span></a></li>
</ul>
</div>




