<div class="contentLeft" style='display:none;'>
		<ul>
			<li>
				<a href='/mobile'>
<img src="__PUBLIC__/image/gao2.png" alt="">
<span>首页</span>
<img src="__PUBLIC__/image/gao3.png" alt="">
			</a>
			</li>


			<li>
				<a href="{:url('fenmian/index')}">
<img src="__PUBLIC__/image/gao4.png" alt="">
<span>{$shoujia['catename']}</span>
<img src="__PUBLIC__/image/gao3.png" alt="">
			</a>
			</li>


			<li>
				<a href="{:url('tulist/index')}">
<img src="__PUBLIC__/image/gao5.png" alt="">
<span>{$shoujib['catename']}</span>
<img src="__PUBLIC__/image/gao3.png" alt="">
			</a>
			</li>
			<li>
				<a href="{:url('video/index')}">
<img src="__PUBLIC__/image/gao6.png" alt="">
<span>{$shoujic['catename']}</span>
<img src="__PUBLIC__/image/gao3.png" alt="">
			</a>
			</li>
			<li>
				<a href="{:url('jieda/index')}">
<img src="__PUBLIC__/image/gao7.png" alt="">
<span>{$shoujid['catename']}</span>
<img src="__PUBLIC__/image/gao3.png" alt="">
			</a>
			</li>




		</ul>

	</div>