
<!DOCTYPE html><html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
<meta content="width=device-width, initial-scale=1.0, maximum-scale=11.0, " name="viewport" id="mixia_vpid">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="blue">
<meta name="format-detection" content="telephone=no">

<title>新闻资讯_重庆卓光科技有限公司</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="Lukas Postulka, http://www.zhuoguang.net"> 
<link rel="apple-touch-icon-precomposed" href="__PUBLIC/imagestouch-icon.png">


	<link href="__PUBLIC__/css/skins.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/css/newslist.css" rel="stylesheet" type="text/css">
	<link href="__PUBLIC__/css/common.css" rel="stylesheet" type="text/css">
<link id="mx_select_web" rel="stylesheet" href="data:text/css,html *,* [class],* [id]{-webkit-user-select:text;}"></head>
<body>
    <div class="wrap">
		<!--头部-->
		<!--<header class="g-hd clearfix">
	<a class="f-fl" name="logo" href="/"></a>
	<a class="f-fr" name="tel" href="tel:400-188-9366"></a>
</header>--> 
{include file='commons/header'}
		<!--新闻列表页-->
		<div class="g-bd">
			 <h3 class="m-btit">

		 	<a href="/mobile">主页</a> 
{volist name='posArr' id='vo'}
			 	&gt; <a href="{:url('/mobile/artlist',array('artlistId'=>$vo['id']))}">{$vo['catename']}</a> 
{/volist}


			 	 <span></span></h3>
			 <div class="m-con-3">
			 	 <ul>


{volist name='artres' id='vo'}
			 	 	
				 	<a href="{:url('/mobile/article',array('lisId'=>$vo['id']))}" title="{$vo['title']}">
							<li class="">{$vo['title']}<span></span></li>
						</a>
{/volist}

				 </ul>
			 	 <div class="clear"></div>
			 </div>
		</div>
		<div class="g-page f-tc">
			<ul class="pagelist">
		{$artres->render()}

		   </ul>
		</div>
		{include file='commons/footer'}
	 </div>
	 

</body></html>
