<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8">
<title>{$keywords['catename']}</title><!--兼容-->
<meta name="keywords" content="{$keywords['keywords']}"/>
<meta name="description" content="{$keywords['desc']}"/>
<meta http-equiv="mobile-agent" content="format=xhtml;url=/m/list.php?tid=6">
<link href="__PUBLIC__/css/arc.css" rel="stylesheet" media="screen" type="text/css"/>
</head>
<body>
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/jquery-1.8.1.min.js"></script>
{include file='commons/header'}










<div class="clear">
</div>


{include file='commons/position'}


<div class="clear">
</div>
<div class="case_all">











<div class="main_con">
	<div class="newslist">


		{volist name='artres' id='vo'}
		<dl>
			<dd>
			<h3><a href="{:url('/article',array('wtid'=>$vo['id']))}" title="{$vo['title']}">{$vo['title']}</a></h3>
			<p>
				<a href="{:url('/article',array('wtid'=>$vo['id']))}" title="{$vo['title']}">{$vo['desc']}</a>
			</p>
			<span>
			<em>{$vo['time']|date="d",###}</em>{$vo['time']|date="Y-m",###}
			</span>
			</dd>
		</dl>
			{/volist}
	</div>
	<div class="clear">
	</div>
	<div class="h40">
	</div>
<div style='margin-left:300px;'>{$artres->render();}</div>
	<div class="h40">
	</div>
	<div class="clear">
	</div>
</div>






















</div>
<div class="clear">
</div>







{include file='commons/footerBar'}



	﻿
<div class="clear">
</div>




{include file='commons/footer'}
</body>
</html>