<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=8">
<title>{$keywords['catename']}</title><!--兼容-->
<meta name="keywords" content="{$keywords['keywords']}"/>
<meta name="description" content="{$keywords['desc']}"/>
<meta http-equiv="mobile-agent" content="format=xhtml;url=/m/list.php?tid=6">
<link href="__PUBLIC__/css/contact.css" rel="stylesheet" media="screen" type="text/css"/>
</head>
<body>
<script language="javascript" type="text/javascript" src="__PUBLIC__/js/jquery-1.8.1.min.js"></script>
{include file='commons/header'}










<div class="clear">
</div>


{include file='commons/position'}


<div class="clear">
</div>
<div class="case_all">















	<div class="main_con">

<div class="contact">
<div class="h50">
</div>
<div class="contact_con">



<div class="contact_tels">





{$fenmianRes['content']}









<div class="h35">
&nbsp;
</div>
<div class="clear">
&nbsp;
</div>
<div class="map_contact">


<div class="map fl">


<iframe src="/public/static/index/ditu/maps.html" frameborder="0" width='750px' height='375px' style='display:block;height:375px;width:750px;'></iframe>





</div>


<div class="map_contact fr form_submit">
<div class="h16">
&nbsp;
</div>
<div class="tel_call">
您还可以免费体验我们的服务(即时回复)
</div>




<form action="" method='post'>
<div class="mc_input">
<input placeholder="阁下尊称" id="name" maxlength="6" type="text"  name='xinmin'>
</div>
<div class="mc_input">
<input placeholder="手机号码" id="phone" maxlength="12" type="text"  name='shouji'>
</div>
<div class="mc_input">
<input placeholder="联系QQ" id="qq" maxlength="13" type="text"  name='qq'>
</div>
<div class="mc_input" style="height:90px;">
<textarea placeholder="请留下您的咨询内容" id="content" name='content'></textarea>
</div>
<style>
.mc_submit input{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 38px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #ff6600;
    cursor: pointer;
}

</style>
<div class="mc_submit">
<input class="click_a" type='submit'>
</div>

</form>








</div>
</div>
<div class="clear">
&nbsp;
</div>
<div class="h40">
&nbsp;
</div>
<div class="ContactRide">
<h3>
附近公交站：
</h3>
<p>
133路、201路、209路、211路、213路、218路、219路、228路、236路、237路、239路、260路　、262路、270路、281专线、462路、464路、467路、472路、803路、860路、905线、237路、260路
</p>
<div class="h45">
&nbsp;
</div>
<h3>
附近轻轨站：
</h3>
<p>
地铁一号线小龙坎站下
</p>
<div class="h50">
&nbsp;
</div>
</div>
</div>




</div>
<div class="clear">
</div>
</div>
<div class="h40">
</div>


</div>












































</div>
<div class="clear">
</div>







{include file='commons/footerBar'}



	﻿
<div class="clear">
</div>




{include file='commons/footer'}
</body>
</html>