<div class="huikuan">
    <div class="huikuan_tab fl">
        <div class="huikuan_tabli huikuan_tabt">
            <div class="huikuan_lit fl">
                
				货 币
            </div>
            <div class="huikuan_lik fl">
                
				开 户 银 行
            </div>
            <div class="huikuan_lic fl">
                
				帐 号
            </div>
            <div class="huikuan_lin fl">
                
				开 户 名 称(收款人)
            </div>
        </div>
        <div class="clear">
            
			&nbsp;
        </div>
        <div class="huikuan_tabli">
            <div class="h25">
                
				&nbsp;
            </div>
            <div class="huikuan_lit fl">
                
				人民币
            </div>
            <div class="huikuan_lik fl">
                
				&nbsp;
            </div>
            <div class="huikuan_lic fl">
                
				6228480470087369919
            </div>
            <div class="huikuan_lin fl">
                
				蒋园园
            </div>
            <div class="h25">
                
				&nbsp;
            </div>
        </div>
        <div class="huikuan_tabli">
            <div class="h25">
                
				&nbsp;
            </div>
            <div class="huikuan_lit fl">
                
				人民币
            </div>
            <div class="huikuan_lik huikuan_lik1 fl">
                
				&nbsp;
            </div>
            <div class="huikuan_lic fl">
                
				6222803761541049284
            </div>
            <div class="huikuan_lin fl">
                
				蒋园园
            </div>
            <div class="h25">
                
				&nbsp;
            </div>
        </div>
        <div class="huikuan_tabli">
            <div class="h25">
                
				&nbsp;
            </div>
            <div class="huikuan_lit fl">
                
				人民币
            </div>
            <div class="huikuan_lik huikuan_lik2 fl">
                
				&nbsp;
            </div>
            <div class="huikuan_lic fl">
                
				6222023100036719602
            </div>
            <div class="huikuan_lin fl">
                
				蒋园园
            </div>
            <div class="h25">
                
				&nbsp;
            </div>
        </div>
        <div class="huikuan_tabli">
            <div class="h25">
                
				&nbsp;
            </div>
            <div class="huikuan_lit fl">
                
				人民币
            </div>
            <div class="huikuan_lik huikuan_lik3 fl">
                
				&nbsp;
            </div>
            <div class="huikuan_lic fl">
                
				6222600510008965945
            </div>
            <div class="huikuan_lin fl">
                
				蒋园园
            </div>
            <div class="h25">
                
				&nbsp;
            </div>
        </div>
        <div class="huikuan_tabli">
            <div class="h25">
                
				&nbsp;
            </div>
            <div class="huikuan_lit fl">
                
				人民币
            </div>
            <div class="huikuan_lik huikuan_lik4 fl">
                
				&nbsp;
            </div>
            <div class="huikuan_lic fl">
                
				6225881233798676
            </div>
            <div class="huikuan_lin fl">
                
				蒋园园
            </div>
            <div class="h25">
                
				&nbsp;
            </div>
        </div>
        <div class="huikuan_tabli">
            <div class="h25">
                
				&nbsp;
            </div>
            <div class="huikuan_lit fl">
                
				人民币
            </div>
            <div class="huikuan_lik huikuan_lik5 fl">
                
				&nbsp;
            </div>
            <div class="huikuan_lic fl">
                
				6210986530005940468
            </div>
            <div class="huikuan_lin fl">
                
				蒋园园
            </div>
            <div class="h25">
                
				&nbsp;
            </div>
        </div>
    </div>
    <div class="clear">
        
		&nbsp;
    </div>
    <div class="h35">
        
		&nbsp;
    </div>
    <div class="huikuan_p">
        <p>
            
			公司账号信息：
        </p>
        <p>
            
			户名：重庆卓光科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;开户行：重庆银行三峡广场支行&nbsp;&nbsp;&nbsp;&nbsp;账号：280401040016389
        </p>
        <p>
            
			另外新增重庆农村商业银行账号账号：6228671151307031&nbsp;&nbsp;户名：蒋园园
        </p>
    </div>
</div>
<p>
    <br/>
</p>