
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="loading">
              
<!-- http://sglrz.com/scripts/ueditor/dialogs/map/show.html#center=104.104441,30.574947&amp;zoom=14&amp;width=530&amp;height=340&amp;markers=104.067934,30.575942&amp;markerStyles=l,A -->


   {include file='commons/header'}
    <div id="container">
    
    <main class="cd-main-content" id="f1">
             {include file='commons/nav'}
    <!--ward-->
           
 {include file='commons/position'}










<article>
{$getfenmianRes45['sjcontent']}
</article>






  {include file='commons/footer'}













</body>

</html>