<div class="ny_l fl">
           <div class="sideMenu">
              <div class="xnav">
                  <i></i>
              
                  <a title="" href="{:url('/rzgl')}"><em class="icon_xb xw"></em>{$gongluenav[0]['catename']}</a>

              </div>
              <ul>
                  {volist name='noNavs' id='vo'}
                      <li><a href="{:url('/rzgl',array('navcateId'=>$vo['id']))}" class="">{$vo['catename']}<i></i></a></li>
                  {/volist}
                
                      
              </ul>
           </div>
           <!-- sideMenu 结束 ------------------------------------------->
<div class="sideMenu1">
              <h2><a href="{:url('/rzal',array('navcateId'=>42,'page'=>1))}">软装案例</a></h2>
              <div class="side_t">
               

          
                {volist name='glueanli' id='vo' offset='0' length='6'}
                    <h5 class="on"><em>1</em><a title="{$vo['title']}" href="{:url('/artrzal',array('anliimgId'=>$vo['id']))}">{$vo['title']}</a></h5>
                      <dl style="display: block;">
                          <a title="{$vo['title']}" href="{:url('/artrzal',array('anliimgId'=>$vo['id']))}" target="_blank"><img src="{volist name='vo.arttusrc' id='imgs' offset='0' length='1'}/static/admin/arttupian/ben/{$imgs['imgsrc']}{/volist}" title="" alt=""></a>
                      </dl>
          
              {/volist}
                  
                        


              </div>
              <!-- side_t 结束 -->
           </div>
           

<div class="ny_contact">
               <div class="zi1">
                  <p><img src="/static/index/images/top_dh1.png">{$boxconf17['value']}</p>
               </div>


              {$articleqita6['content']}
           </div>

        </div>